/* ==========================================================================
   Academy
   ========================================================================== */
#hero{
   .container{
      position: relative;
      .row{
         overflow: hidden;
         h1{
            font-size: 9em;
            text-align: center;
            position: relative;
            z-index: 50;
         }
         img{
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
         } 
      }  
   }  
}

#courses{ 
   .course{
      position: relative;
      height: 200px;
   }
	border: 1px solid red;
	background:#fff;
	overflow: hidden;
	background: #2051F9;
	.entitled {
      position: relative;
      @include grid-column(3);
   }
   h2.title{
		text-align:center;
      font-size: 2rem;
       vertical-align: center;
	}
	.video-slider{
		@include grid-column(9);
		background: #A8BBFD;
      overflow: hidden;
		.arrow{
			float: left;
			position: absolute;
			width: 75px;
			height: 120px;
         font-size: 7.4em;
			z-index: 100;
			color: #fff;
			vertical-align: middle; 
			&:before{
				height: 120px;
			}
			&.next{
				left: 10;
				&:before{
					content: "\f104";
				}
			}
			&.past{
				right: 0;
				&:before{
					content: "\f105";
				}
			}
		}
		.slide{
			@include grid-column($columns:3);
         margin-left: 5.6%;
			float: left;
			height: 120px;
			.thumbnail{
				height: 120px; /* Replaced by asset-transform in CMS */
            color: #000;
			}
		}
	}
   	
}