/* ==========================================================================
   Header
   ========================================================================== */
header{
	position: relative;
	height: 60px;
	padding: 5px;
	background-color: #ffffff;
	img{
		height: 50px;
	}
}

nav{
	ul{
		height:50px;
		list-style: none;
		li{
			padding: 12.5px 20px 12.5px 0px;
			float: left;
			a{
				color: #000;
				font-weight: 800;
				&:hover{
					color: #000;
					font-weight:900;
				}
			}
		}
	}
}